html *:before,
html *:after {
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}
/*Home change button design*/
*:before,
*:after {
  z-index: -1;
}

a {
  text-decoration: none;
  line-height: 80px;
  color: black;
}
/*button的中心部分*/
.centerer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 600px) {
  .wrap {
    width: 50%;
    float: left;
  }
}
/*Display of buttons*/
[class^=btnx-] {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 80px;
  max-width: 250px;
  margin: 1rem auto;
  text-transform: uppercase;
  border: 1px solid currentColor;
}

.btnx-1 {
  color: #30a28f;
  text-align: center;

}

/*点击前后的变化*/
.btnx-1:before, .btnx-1:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 80px solid #07f8f5;
}
/*The look before the change*/
.btnx-1:before {
  right: -50px;
  border-right: 50px solid transparent;
  transform: translateX(-100%);
}
/*The look after the change*/

.btnx-1:after {
  left: -50px;
  border-left: 50px solid transparent;
  transform: translateX(100%);
}

/*填充效果*/
.btnx-1:hover {
  color: #078bb9;
}
.btnx-1:hover:before {
  transform: translateX(-40%);
}
.btnx-1:hover:after {
  transform: translateX(40%);
}

/*橙色的圆形button*/
.button2 {
  -webkit-appearance: none;
  background: linear-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
  background-size: 500%;
  border: none;
  border-radius: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
  font: 1.5em Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 5rem;
  letter-spacing: 0.05em;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 20rem;
}
/*填充动画*/
.button2:hover {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
/*调解比例*/
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100%;
  }
}

/*蓝紫色button*/
.button3 {
  -webkit-appearance: none;
  background: linear-gradient(to right, #011d62 0%, #4200e8 50%, #3d00a2 100%);
  background-size: 500%;
  border: none;
  border-radius: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
  font: 1.5em Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 5rem;
  letter-spacing: 0.05em;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 20rem;
}

.button3:hover {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100%;
  }
}